//
//  Secrets.xcconfig
//  FoodPassport
//
//  Created by Bunnita on 2026-03-10.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
GOOGLE_API_KEY = AIzaSyA0jDH1mlNYlHMQFsVJeeOtsAbjQPSFR5A


